html(lang="en")
	head
		title Directweb
		link(rel="stylesheet" href="/css/index.css")
	body
		script(src="/vendors/loginid.browser.min.js")
		script(src="/vendors/loginid.directweb.min.js")
		block body
