.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.message {
  color: gold;
}

.user__id,
.user__name {
  margin-right: 1em;
}
